<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <h1 class="text-center text-3xl font-bold mt-10">User Registration</h1>
    <form action="/register" method="post" class="flex flex-col gap-4 max-w-sm mx-auto mt-10">
        <input type="text" name="name" id="" class="border p-2 rounded" placeholder="Name">
        <input type="text" name="username" id="" class="border p-2 rounded" placeholder="Username">
        <input type="email" name="email" id="" class="border p-2 rounded" placeholder="Email">
        <input type="password" name="password" id="" class="border p-2 rounded" placeholder="Password">
        <input type="text" name="age" id="" class="border p-2 rounded" placeholder="Age">
        <button type="submit" class="bg-blue-700 p-2 text-white">Submit</button>
    </form>
</body>
</html>